*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.main-container {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
}
.logo-container {
  max-width: 45%;
  padding: 2rem;
}
.arrow-container {
  padding: 1.5rem;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 5%,
    hsl(0, 80%, 86%) 30%,
    hsl(0, 74%, 74%) 100%
  );
  width: 20%;
}
.hero-image-container {
  margin-bottom: 15px;
}
.hero-image {
  width: 100%;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
  line-height: 3.2rem;
}
.body-content {
  padding: 2.5rem;
}
h1,
.body-content p {
  margin-bottom: 20px;
}
.accent-color {
  color: hsl(0, 36%, 70%);
}
.accent-style {
  font-weight: 300;
}
input {
  border: solid 1px hsl(0, 46%, 34%);
  color: hsl(0, 36%, 70%);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  width: 100%;
}
.input-container {
  position: relative;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrow-svg {
  height: 25px;
}
.error-message{
  color: hsl(0, 36%, 70%);
  margin-top: 10px;
}

@media only screen and (min-width: 1440px){

}
