*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.main-container {
  display: grid;
  grid-template-areas:
    "logo"
    "hero"
    "content";
  grid-template-rows: 100px auto 1fr;
  gap: 1rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
}
img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}
.logo-container {
  grid-area: logo;
  max-width: 45%;
  padding: 2rem;
}
svg {
  height: 100%;
}
.hero-image-container {
  grid-area: hero;
  margin-bottom: 15px;
}
.hero-mobile {
  width: 100%;
  object-fit: cover;
}
.hero-desktop {
  display: none;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
  line-height: 3.2rem;
}
.body-content {
  grid-area: content;
  padding: 2.5rem;
}
h1,
.body-content p {
  margin-bottom: 20px;
}
.accent-color {
  color: hsl(0, 36%, 70%);
}
.accent-style {
  font-weight: 300;
}
input {
  border: solid 1px hsl(0, 46%, 34%);
  color: hsl(0, 36%, 70%);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  width: 100%;
}
.input-container {
  position: relative;
  border-radius: 50px;
  position: relative;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 5%,
    hsl(0, 80%, 86%) 30%,
    hsl(0, 74%, 74%) 100%
  );
}
.arrow-container:hover {
  background: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 3%,
    hsl(0, 80%, 86%) 75%,
    hsl(0, 74%, 74%) 100%
  );
}

.arrow-svg {
  height: 25px;
}
.error-message {
  color: hsl(0, 93%, 68%);
  margin-top: 10px;
}

.input-container.error-icon #email-input {
  background-image: url("/images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 250px 50%;
}
input:focus {
  outline: none;
}

@media only screen and (min-width: 1440px) {
  .main-container {
    text-align: left;
    grid-template-columns: 2fr 1.25fr;
    grid-template-areas:
      "logo hero"
      "content hero";
    grid-template-rows: 200px 1fr;
  }
  .logo-container {
    padding-left: 8rem;
    padding-top: 5rem;
    max-width: 40%;
  }
  .hero-image-container {
    height: 100%;
  }
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
  }
  .body-content {
    font-size: 1.4rem;
    margin-top: 150px;
    padding-left: 8rem;
    padding-right: 18rem;
  }
  .input-container.error-icon #email-input {
    background-position: 500px 50%;
  }
}
